@import '~ant-design-vue/lib/style/themes/default';
@import 'colors';

// @ant-prefix: po; // ant input-password/model 不能适配
@primary-color: #36a679; // 全局主色
@success-color: #52c41a; // 成功色
@warning-color: #faad14; // 警告色
@error-color: #f5222d; // 错误色
@link-color: #006799; // 链接色

// Menu
@menu-collapsed-width: 48px;
@menu-item-vertical-margin: 0;
@menu-item-boundary-margin: 0;
