.container {
  margin: auto;
  width: 750px;
  max-width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  position: relative;

  &::before,
  &::after {
    content: '';
    display: table;
  }
}

.footer {
  padding: 30px 0 10px;
  font-size: 0.875em;
  color: #999;
  text-align: center;

  :global(a) {
    color: #999;
  }
}
