.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding-top: 200px;
  font-size: 30px;
  font-family: sans-serif;
}

.logo {
  margin: auto;
  width: 60px;
  height: 60px;
  background: url('/img/logo.png') no-repeat center;
  background-size: cover;
}

.text {
  color: #666;
}
