
@avatar-dropdown-prefix-cls: ~'@{ant-prefix}-global-header-avatar-dropdown';

.@{avatar-dropdown-prefix-cls}{
  &__name {
    margin-left: 5px;
  }

  &-overlay{
    &__menu{

    .@{ant-prefix}-dropdown-menu-item {
      min-width: 120px;
    }
  }
  }
}
