.container {
  padding: 0;
  margin: 0;

  .title {
    padding: 10px 16px;
    height: 60px;
    box-sizing: border-box;
    position: relative;

    &::after {
      content: '';
      border-bottom: 1px solid #f2f2f2;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .content {
    margin: 0;
    padding: 0;
  }
}

.profile-pic {
  margin: 0;

  :global {
    img {
      width: 40px;
      height: 40px;
      border: 2px solid;
      border-color: #f67280;
      border-color: var(--color-primary);
      border-radius: 99px;
      box-sizing: border-box;
    }

    label {
      margin-left: 10px;
      max-width: 100px;
      font-size: 0.875rem;
      line-height: 40px;
      display: inline-block;
      @include text-ellipsis();
    }
  }
}

.img {
  margin: 0;
  font-size: 0;
  background-color: #f2f2f2;

  :global {
    img {
      width: 100%;
    }
  }
}

.actions {
  padding: 0px 16px;
  height: 36px;
  box-sizing: border-box;
  position: relative;

  // &::before,
  // &::after {
  //   content: '';
  //   border-bottom: 1px solid #f2f2f2;
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  // }

  // &::before {
  //   top: 0;
  // }

  // &::after {
  //   bottom: 0;
  // }

  :global {
    a {
      line-height: 36px;
      text-decoration: none;

      & + a {
        margin-left: 10px;
      }

      i {
        font-size: 1.5rem;
      }
    }
  }
}

.description {
  margin: 0;
  padding: 0 16px;
  font-size: 0.75rem;
  line-height: 1.35;
  color: #666;

  .name {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
  }
}

.error {
  margin-top: 100px;
  text-align: center;
}
